# Core API & Network
fastapi
uvicorn
python-socketio
python-dotenv
pydantic
requests
aiohttp
redis

# Scraping & Browser
beautifulsoup4
lxml
selenium
undetected_chromedriver
scrapling[fetchers]>=0.4
playwright
browserforge>=1.2.4
# Utilities
isodate
yt-dlp

# Dev Tools (Formatter & Testing)
black
pytest
pytest-asyncio
pytest-mock
pytest-xdist # for parallel testing
httpx

# Compatibility
setuptools # Required for distutils in Python 3.12+